.Toastify__toast {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
}

.Toastify__toast--success {
    background-color: #4caf50;
    color: #fff;
}

.Toastify__toast--error {
    background-color: #f44336;
    color: #fff;
}

.Toastify__toast--warning {
    background-color: #ff9800;
    color: #fff;
}

.Toastify__toast-body {
    font-size: 16px;
    font-weight: 500;
}

.Toastify__progress-bar--animated {
    animation: Toastify__progress-bar-animation linear 1s;
    transform-origin: left;
}

@keyframes Toastify__progress-bar-animation {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.Toastify__toast--hide {
    animation: fade-out 2s forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}